*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bigimage{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("bmg.jpg");
    background-size: cover;
}
.overlay{
    width: 100%;
    height: 100vh;
    font-size: 26px;
    display: flex;
    color: #fff;
    justify-content: center;
    flex-direction: column;
    align-items: center;
background-color: rgba(26, 25, 25, 0.5);
}